@media screen and (min-width: 1600px){    
    header>h1{
        font-size: 35px;
    }
    
    #container>#info{
        font-size: 30px;
        width: 310px;
        height: 230px;
    }

    form{
        font-size: 30px;
        padding: 10px;
        width: 860px;
        height: 260px;
        margin-left: 180px;
    }

    form>select, form>select>option, form>input, #calc{
        font-size: 30px;
    }

    #calc{
        padding: 12px;
        margin-left: 20px;
        width: 810px;
    }

    #result{
        font-size: 35px;
        padding: 8px;
        margin-top: 80px;
        height: 130px;
    }

    footer{
        width: 1600px;
        margin-top: 193px;
    }
}
